@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
h1 {
  padding: 3rem 0;
  margin: 0;
  text-align: center;
  color: white;
}
.main {
  font-style: normal;
  font-family: "Montserrat", serif; /* Đúng tên font */
  font-optical-sizing: auto;
}
.btn-main {
  background-image: linear-gradient(to right, #d434b0, #8029fc);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
