<div class="wrapper-cart">
  <h1>GIỎ HÀNG</h1>
  <app-product-item
    [product]="product"
    (dataEvent)="handlDelete($event)"
  ></app-product-item>
</div>
<!-- <app-version-parent></app-version-parent> -->
<!-- <div class="nutxinchao">
    <button [disabled]="disable" (click)="bam()">
      {{ loichao }} Click Me {{ count }}!
    </button>
    <button [disabled]="disable">{{ loichao }} Click Me {{ count }}!</button>
    <button [disabled]="disable">{{ loichao }} Click Me {{ count }}!</button>

    <div class="haha">haha</div>
  </div>
  <input type="text" [(ngModel)]="mess" />
  <div>{{ mess }}</div> -->
